<style type='text/css'>
body {
   color:#000000;
   background-color: rgba(225,225,225,.5);
   background-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(245,245,245,.7) 2px, rgba(245,245,245,.7) 6px);
   font-family:courier, courier new, serif; }
</style>
